<h1>Ofícios</h1>
<h2>Opções</h2>
<%= link_to 'Adicionar novo Ofício', new_oficio_path %>

<h2>Lista de todos Ofícios</h2>

<table class="table table-striped table-bordered">
  <tr>
    <th>Número</th>
    <th>Data</th>
    <th>Código</th>
    <th>Enviado|Recebido</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @oficios.each do |oficio| %>
  <tr>
    <td><%= oficio.numero %></td>
    <td><%= oficio.data %></td>
    <td><%= oficio.codigo %></td>
    <td><%= oficio.enviado? ? "Enviado" : "Recebido" %></td>
    <td><%= link_to 'Ver Documento', oficio , :class => "btn btn-sm btn-info"%></td>
    <td><%= link_to 'Editar', edit_oficio_path(oficio),:class => "btn btn-sm btn-warning" %></td>
    <td><%= link_to 'Apagar', oficio,:class => "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Você tem certeza' } %></td>
  </tr>
<% end %>
</table>

<br />

