<h1>Dados da Ata</h1>

<% if notice %>
<div class="alert alert-info">
	<p><%= notice %></p>
</div>
<% end %>
<div class="col-md-6">
	<p>
		<b>Número:</b>
		<%= @atum.numero %>
	</p>

	<p>
		<b>Data:</b>
		<%= @atum.data %>
	</p>

	<p>
		<b>Ordinária | Extraordinária:</b>
		<%= @atum.ordinaria? ? "Ordinária" : "Extraordinária" %>
	</p>
</div>
<div class="col-md-4 well">
	<p>
		<%= image_tag @atum.arquivo.url(:miniatura) %>
	</p>
	<p>
		<%= link_to "Download do arquivo original", @atum.arquivo.url, :class => "btn btn-info" %>
	</p>
</div>
<div class="col-md-10">
	<%= link_to 'Editar dados', edit_atum_path(@atum) %> |
	<%= link_to 'Voltar para página de Atas', ata_path %>
</div>

